<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crawl ASCII.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Crawl Tiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Crawl-cmd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tilegen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B0EFD410BD12E9200002671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B032D526106C01AF0002D70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B082656E10731A95006EEC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C9CF45108DF1AF00E7FA35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F271F50DA1C58C00445FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
